body {
    background-image: url('img/indexbackground.jpg'); 
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    /* Optionally, you can add more CSS properties to customize the background image */
    background-repeat: repeat-y ;
    background-repeat: repeat-y 2; 

}
